html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

ul {
  list-style: none;
}

.title h3 {
  margin: 0;
  color: #404040;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
}

body {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.wrap {
  margin-left: 2%;
  margin-right: -3.5%;
}

* {
  outline: none !important;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* NOTE Navbar */

a:hover {
  color: #ffc107;
  text-decoration: none;
}

.header-left {
  width: 80px;
  background-color: #8a817c;
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: 1px solid rgba(11, 11, 19, 0.1);
  z-index: 99999;
}

.header-left .top a {
  color: white;
  font-weight: 600;
  font-size: 40px;
  width: 80px;
  line-height: 80px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.header-left .nav-menu {
  padding-top: 45px;
  padding-bottom: 45px;
}

.nav-menu li {
  width: 100%;
}

.nav-menu li+li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.me {
  opacity: 75%;
}

.nav-link {
  margin: 0;
  padding: 10px 0;
  color: white;
  transition: ease all 0.35s;
  text-align: center;
}

button.toggler-menu {
  background: none;
  border: none;
}

.d-flex {
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

.toggler-menu {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0;
  border-radius: 0;
  padding: 0;
  margin-left: 15px;
  border: none;
  margin-left: auto;
}

.toggler-menu span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 2px;
  margin: auto;
  background: #8a817c;
  color: #8a817c;
  box-shadow: 0px -8px 0 0 currentColor, 0px 8px 0 0 currentColor;
}

@media (max-width: 767px) {
  .wrap {
    margin-left: 1%;
    margin-right: 1%;
  }

  .me {
    padding-left: 840px;
  }

  .mob-header {
    display: block;
  }

  .header-left {
    transition: ease all 0.35s;
    left: -200px;
    z-index: 222;
  }

  .header-left.menu-open {
    left: 0;
  }
}

.banner {
  position: relative;
  overflow: hidden;
}

.top-fixed {
  position: absolute;
  padding: 30px 50px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.top-fixed .info {
  margin-left: 190px;
}

.info label {
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.social {
  margin-left: auto;
  font-size: 20px;
}

.social a i {
  margin-right: 10px;
  color: #404040;
  width: 43px;
  height: 43px;
  border-radius: 50px;
  border: 2px solid #404040;
  padding: 10px;
  line-height: 20px;
  text-align: center;
}

@media (min-width: 740px) {
  button.toggler-menu {
    display: none;
  }
}

/* NOTE Home */

.banner .full-screen {
  min-height: 100vh;
}

.banner .me {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  background-repeat: no-repeat;
  background-position: top left;
  opacity: 65%;
}

.home-box {
  padding-top: 90px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Poppins", sans-serif;
}

.home-box h6 {
  color: #404040;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 20px;
  font-family: "Poppins", sans-serif;
}

.home-box h1 {
  font-size: 80px;
  line-height: 1;
  margin: 0 0 20px;
  color: #404040;
  font-family: "Poppins", sans-serif;
}

.home-box .lead {
  color: #404040;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: "Poppins", sans-serif;
}

.home-box .desc {
  max-width: 450px;
  color: #404040;
  font-family: "Poppins", sans-serif;
}

.btn-bar {
  padding-top: 10px;
}

.btn-bar a {
  color: #404040;
  font-size: 25px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  padding-left: 0;
  transition: ease all 0.35s;
  font-family: "Poppins", sans-serif;
}

.btn-bar a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  widows: 0;
  height: 2px;
  background: currentColor;
  transition: ease all 0.35s;
}

.btn-bar a:hover {
  padding-left: 45px;
}

.btn-bar a:hover:after {
  width: 40px;
}

@media (max-width: 767px) {
  .banner .top-fixed {
    display: none !important;
  }

  .home-box h1 {
    font-size: 52px;
  }
}

@media (max-width: 767px) {
  .banner .box h6 {
    font-size: 18px;
    margin: 0 0 10px;
  }
}

@media (max-width: 767px) {
  .banner .box h1 {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .banner .box .lead {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .banner .me {
    opacity: 0.5;
    width: 100%;
  }

  /* NOTE About Me */

  /* 
#about {
  font-family: "Poppins", sans-serif;
  margin-left: 7.7%;
  margin-right: 3%; */
}

.about-me {
  text-align: center;
}

.about-me img {
  overflow: hidden;
  border: 5px solid #8a817c;
  position: relative;
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.about-me .social-icons {
  position: absolute;
  right: 20%;
  left: 20%;
}

.about-me .social-icons a {
  width: 45px;
  line-height: 41px;
  border: 2px solid #404040;
  color: #404040;
  text-align: center;
  border-radius: 50%;
  margin: 0 2px;
  transition: ease all 0.35s;
  transform: scale(1);
}

.social-icons a:hover {
  transform: scale(1.1);
  background: #ff9301;
  color: white;
}

.info {
  margin-top: 25px;
  color: #404040;
}

.info h3 {
  font-weight: 400;
  font-size: 30px;
}

.info p {
  margin: 0;
  font-size: 16px;
}

.info-list {
  padding-top: 15px;
  color: #0f1025;
}

.info-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-list li {
  padding: 4px 0;
}

.info-list label {
  color: #0f1025;
  margin: 0;
  font-weight: 400;
  padding-right: 10px;
}

.separated {
  background-image: url(./images/line-dark.png);
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: repeat-x;
  background-size: auto 6px;
  background-position: center;
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width: 740px) {
  .separated {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .title {
    margin-top: 50px;
    text-align: center;
  }

  .about-info {
    margin-top: 30%;
  }
}

/* NOTE Works */

.box1 {
  background: #b7b7a4;
  padding: 40px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s;
}

.box1:before {
  content: "";
  position: absolute;
  top: -220px;
  left: -220px;
  width: 200px;
  height: 200px;
  border-radius: 0;
  z-index: -1;
  background: #ffe8d6;
  transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.55s;
}

.box1:after {
  content: "";
  position: absolute;
  top: -72px;
  left: -40px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: -2;
  background-color: #ffe8d6;
  background-image: ;
  transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.15s;
}

.box1 .icon {
  line-height: 60px;
  font-size: 40px;
  color: white;
}

.box1 .content {
  padding-top: 25px;
}

.box1 h5 {
  margin-bottom: 30px;
  color: #404040;
  font-size: 25px;
}

.box1:hover:before {
  top: -72px;
  left: -40px;
  border-radius: 50%;
}

.box1:hover:after {
  content: "";
  width: 120%;
  left: -10%;
  top: -10%;
  height: 120%;
  border-radius: 0;
  transition: cubic-bezier(0.39, 0.58, 0.57, 1) all 0.55s;
}

.box1:hover {
  transform: scale(1.2);
}

@media (max-width: 740px) {
  .box2 {
    margin-top: 8%;
  }
}

/* NOTE Experience */

.resume-box {
  font-family: "Poppins", sans-serif;
}

.education-box {
  padding: 35px;
  background: #b7b7a4;
  list-style: none;
  color: #404040;
  width: 450px;
  height: 550px;
  margin-left: -20px;
  overflow: scroll;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* NOTE Skills */

/* #skills {
  margin-left: 7%;
  margin-right: 3%;
} */

.mh-professional-skills h3 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 60px;
}

.mh-professional-progress li {
  display: inline-block;
  margin: 0 auto;
  width: 48%;
  margin-bottom: 30px;
  text-align: center;
}

.skill-bars {
  margin-top: 50px;
  padding: 25px 30px;
  /* width: 100%; */
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  height: 550px;
}

.skill-bars .bar {
  margin: 20px 0;
  padding: 1%;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  background: #b7b7a4;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.html span {
  width: 90%;
}

.bar .progress-line.css span {
  width: 80%;
}

.bar .progress-line.javascript span {
  width: 70%;
}

.bar .progress-line.react span {
  width: 50%;
}

.bar .progress-line.sql span {
  width: 65%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.html span::after {
  content: "90%";
}

.progress-line.css span::after {
  content: "80%";
}

.progress-line.javascript span::after {
  content: "70%";
}

.progress-line.react span::after {
  content: "50%";
}

.progress-line.sql span::after {
  content: "65%";
}

@media (max-width: 764px) {
  .education-box {
    width: 100%;
    margin-left: 0;
  }

  .skill-bars {
    width: 100%;
  }
}

.education-box h6 {
  color: #404040;
  margin: 5px 0;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.education-box li+li {
  margin-top: 25px;
}

/* NOTE Projects */

.container #projects .title {
  justify-content: center;
  text-align: center;
}

#project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  margin: 20px;
  padding-left: 0;
}

.project-filter li {
  margin: 10px;
  padding: 5px 20px;
  color: #404040;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  list-style: none;
}

.project-filter-active {
  background-color: #f0f0f0;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.project-box {
  width: 330px;
  padding: 15px;
  border: 1px solid #eeeeee;
  position: relative;
}

.project-box img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.project-box .image:hover {
  transform: scale(1.06);
  transition: 0.35s;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-box:hover .image {
  opacity: 0.3;
}

.project-box:hover .middle {
  opacity: 1;
}

.text {
  color: #404040;
  font-size: 16px;
}

@media (max-wdith: 740px) {
  .project-filter {
    background-color: #f9f9f9;
    border: 1px solid #0f1025;
  }

  .project-filter-active {
    background-color: #ffffff;
    border: 1px solid #0f1025;
  }

  .project-box {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .project-heading h3 {
    font-size: 1.8rem;
  }
}

* //* 

/* NOTE Contact */



.contact-info {
  font-family: "Poppins", sans-serif;
}

.contact-info h4 {
  font-size: 34px;
  color: #0f1025;
  font-weight: 400;
}

.contact-info p {
  font-size: 16px;
}

.contact-info ul {
  margin: 0;
  padding: 10px 0 0;
  list-style: none;
}

.contact-info li {
  font-size: 18px;
  font-weight: 400;
  color: #0f1025;
  line-height: 1.3;
  position: relative;
}

.contact-info li i {
  width: 30px;
  text-align: center;
  color: #8a817c;
  font-size: 22px;
}

.contact-info li span {
  padding-left: 10px;
}

.contact-info li+li {
  padding-top: 20px;
}

.contact-form {
  font-family: "Poppins", sans-serif;
}

.contact-form h4 {
  font-weight: 400;
  color: #0f1025;
  font-size: 22px;
  margin-bottom: 20px;
}

.contact-form .form-control {
  width: 100%;
  color: #0f1025;
  background: none;
  border: 1px solid #0f1025;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: calc(2em + 0.75rem + 2px);
}

.contact-form textarea.form-control {
  height: 170px;
}

.btn-primary {
  border: 1.5px solid #404040;
  border-radius: 0;
  background: transparent;
  color: #0f1025;
  padding: 15px 35px;
}

@media (max-width: 764px) {
  .contact-form {
    margin-top: 10%;
  }

  .contact-me {
    text-align: center;
  }

  .contact-info p {
    margin-top: 10%;
  }
}

/* NOTE Google Map */

.google-map {
  margin-top: 50px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4);
}

.google-map .embed:before {
  padding-top: 40%;
}

/* NOTE Footer */

.footer {
  padding: 12px 0px;
  font-family: "Poppins", sans-serif;
}

.footer .nav a {
  color: #8a817c;
  font-size: 20px;
  margin: 17px;
}

.footer .nav a:hover {
  color: #ff9301;
}

.footer p {
  color: #8a817c;
  font-stretch: 14px;
  margin: 1;
}